/* LAYOUT GENERALE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #fff;
}

/* Contenitore generale */
#app {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(
    to bottom,
    #009688 0%,
    #009688 15%,
    #dcdbd2 15%,
    #dcdbd2 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Contenitore principale */
#box {
  height: 95%;
  width: 80%;
  min-width: 900px;
  background-color: #fff;
  display: flex;
}

/* Side box */
.side {
  height: 100%;
  width: 35%;
  background-color: #ccc;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px;
  background-color: #eaeaea;
  cursor: pointer;
}

header img {
  max-width: 50px;
  border-radius: 50%; 
  margin-right: 10px;
}

/* Icone */
header i {
  font-size: 21px;
  color: #b1b1b1;
  cursor: pointer;
  transition: color .2s linear;
}

header i:hover {
  color: #fff;
}

.icons i {
  margin-right: 15px;
}

/* Dati utente */
.contents-user {
  display: flex;
  align-items: center;
}

.informations {
  display: flex;
  flex-direction: column;
}

.informations h4 {
  font-weight: 400;
  margin-bottom: 3px;
}

.informations p {
  font-size: 12px;
  color: #72787b;
}

/* Side main */
/* Sezione avviso */
.notice {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  background-color: #8edafd;
  cursor: pointer;
  transition: background-color .2s linear;
}

.notice:hover {
  background-color: #0bceba;
}

.notice .informations p {
  text-decoration: underline;
  cursor: pointer;
  transition: color .2s linear;
}

.notice .informations p:hover {
  color: #fff;
}

.bell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: #fff;
}

.bell i {
  font-size: 20px;
  color: #8edafd;
}

/* Contents box */
.contents {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 65%;
  background-color: #aaa;
}

/* Contents Main */
.contents-main {
  flex-grow: 1;
  background-image: url(../img/mine.jpg);
}

/* Contents footer */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 35px;
  background-color: #f3eeeb;
}

footer .new-message {
 flex-grow: 1;
 border: none;
 outline: none;
 height: 45px;
 padding: 15px 12px;
 font-size: 12px;
}

footer .new-message:hover,
footer .new-message:focus {
  border: 2px solid #6b9af1;
}

.footer-icons i {
  font-size: 23px;
  color: #72787b;
}

.icon-left {
  margin-right: 35px;
}

.icon-right {
  margin-left: 35px;
}